---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="home" class="bg-white t-pad60 b-pad80">
  <div class="container">
    <div class="row t-mgr30">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h1 class="heading" style="font-size: 3.5rem; margin-bottom: 20px;">
          {t('home.greeting')} <span style="color: var(--main-color);">{t('home.name')}</span>
        </h1>
        <h2 class="h-sub" style="font-size: 1.8rem; font-weight: 400;">
          {t('home.title')}
        </h2>
        <p class="lead l-pad80 r-pad80" style="margin-top: 30px;">
          {t('home.description')}
        </p>
        <div class="t-mgr40">
          <a class="btn" href={`/${lang}#contact`} style="margin-right: 15px;">
            {t('home.cta.contact')} <i class="arrow_right">&rarr;</i>
          </a>
          <a class="btn" href={`/${lang}#projects`} style="margin-right: 15px;">
            {t('home.cta.projects')} <i class="arrow_right">&rarr;</i>
          </a>
        </div>
      </div>
    </div>

    <!-- Skills/Technologies Preview -->
    <div class="row t-mgr80">
      <div class="col-md-3 text-center">
        <div class="services-box-3">
          <i class="icon-picons-eye small"><i class="circle-border"></i></i>
          <div class="content">
            <h3>{t('skills.frontend')}</h3>
            <p>{t('skills.frontend.desc')}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="services-box-3">
          <i class="icon-picons-server"><i class="circle-border"></i></i>
          <div class="content">
            <h3>{t('skills.backend')}</h3>
            <p>{t('skills.backend.desc')}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="services-box-3">
          <i class="icon-picons-database"><i class="circle-border"></i></i>
          <div class="content">
            <h3>{t('skills.database')}</h3>
            <p>{t('skills.database.desc')}</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-center">
        <div class="services-box-3">
          <i class="icon-picons-tools"><i class="circle-border"></i></i>
          <div class="content">
            <h3>{t('skills.devops')}</h3>
            <p>{t('skills.devops.desc')}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>