---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const currentPath = Astro.url.pathname.split("/").slice(2).join("/") || "";
---

<li class="dropdown">
  <a href="#" class="dropdown-toggle js-activated white">
    <i class="icon-picons-globe"></i>
    <span class="current-lang">{lang.toUpperCase()}</span>
  </a>
  <ul class="dropdown-menu">
    {
      Object.entries(languages).map(([code, name]) => (
        <li>
          <a
            href={`/${code}${currentPath ? "/" + currentPath : ""}`}
            class={code === lang ? "active" : ""}
          >
            <span class="flag">{code === "en" ? "🇬🇧" : "🇪🇸"}</span>
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</li>